html , body {

    width : 100% ;
    height : 100% ;
    margin : 0 ;
    padding : 0 ;
    /* background-image : url( "imgs/BG_Portfolio(3).svg" ) ; */
    background-color: white ;
    font-family :  Fustat ;
    font-weight: normal ;
    scroll-behavior : smooth ;
    color : black ;
    font-size : 20px ;
}

a { text-decoration : underline ; color : red ; }

.back-btn {

    width : 30px ;
    height : 30px ;
    position : fixed ;
    top : 20px ; left : 20px ;
    border-radius : 100% ;
    background-color : black ;
    display : flex ; align-items : center ; justify-content : center ;
}

.back-btn:hover {

    transition-duration : 0.3s ;
    background-color : red ;
}

.intro-img-con {

    text-align : center ;
}

.intro-img {

    width : 100% ;
}

/* Project */

.project-con {

    margin : 0 40px ;
}

.project-info {

    display : grid ;
    grid-template-columns : 1fr 1fr ;
}

.project-details {

    justify-self : end ;
    font-style: italic;
}

.project-details ul {

    list-style-type : none ;
}

.to-final-design-btn {

    padding : 10px ;
    border : solid 0.2px red ;
    width : 200px ;
    font-size : 18px ;
    display : flex ;
    gap : 10px ;
    justify-content : center ;
    align-items : center ;
}

.to-final-design-btn:hover {

    transition-duration : 0.3s ;
    background-color : red ;
}

.con {

    margin-top : 10px ;
    padding : 40px ;
    min-height : 400px ;
    background-color : black ;
    color : white ;
}

.title {

    font-weight : 650 ;
    font-size : 24px ;
}

.moodboard {

    display : flex ;
    gap : 10px ;
}

.moodboard-img {

    border-radius : 0 ;
    width : 100% ;
    height : 600px ;
    object-fit : cover ;
}

.posters {

    display : flex ;
    gap : 10px ;
}

.poster {
    
    width : 100% ; 
    box-shadow : 0 0 20px rgba(0,0,0,0.4) ;
}

.font-preview-con {

    display : grid ;
    justify-content : center ;
    margin : 200px 0 ;
}

.preview-box {

    font-size : 30px ;
    width : 100% ;
    border : none ;
    background-color : rgba(0,0,0,0) ;
    padding : 10px ;
    font-family : Cracker ;
}

.preview-box:focus {

    outline : none ;
}

.preview-box::placeholder {

    color : rgb(185, 185, 185) ;
    font-family : Outfit ;
}

@font-face {

    font-family : 'Cracker' ;
    src: url("../../fonts/WEST.ttf") format('truetype') ;
}

        /*****************   Footer   *****************/

.footer {

    margin-top : 150px ;
    background-color : black ;
    color : white ;
    font-family : fustat ;
    font-size : 16px ;
    font-weight : bolder ;
}

.mail-form {

    padding : 50px 20px ;
    margin : 0 ;
}

.msg {

    padding : 10px ;
    height : 100px ;
    background-color : white ;
    color : black ;
    margin-top : 10px ;
    border : none ;
    width : 300px ;
    font-family : Outfit ;
}

.msg:focus {

    outline : none ;
}

.send-msg-btn {

    margin-left : 5px ;
    font-family : Fustat ;
    font-weight : bolder ;
    border : solid 0.3px white ;
    background-color : black ;
    padding : 20px 0 ;
    width : 100px ;
    color : white ;
    transform : translateY( -20px ) ;
    transition-duration : 0.2s ;
}

.send-msg-btn:hover {

    background-color : white ;
    color : black ;
    cursor: pointer ;
}

.footer-links-con-main {

    display : grid ;
    align-items : start ;
    grid-template-columns : 1fr 1fr 1fr ;
    margin-top : 100px ;
}

.footer-links-con {

    display : grid ;
    align-items : end ;
    gap : 10px ;
}

.footer-links-con a { 
    
    transition-duration : 0.2s ;
    padding : 5px ; 
    color : white ;
}

.footer-links-con a:hover { background-color : white ; color : black }

.footer-links-title { font-size : 24px ; font-weight : 1000px }